.currrow{
    display: flex;
}

.currrow select{
    border: none;
    height: 50px;
    width: 100px;
    font-size: 20px;
    margin-top: 12px;
    text-align: center;
    margin-left: -133px;
    background-color: transparent;
    border-left: 1px solid rgba(128, 128, 128, 0.388);
    color: gray;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}