* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    /* border: 1px solid red; */
}

.upperpart {
    opacity: 1;
    width: 100%;
    height: 50px;
    display: flex;
    padding: 10px 40px;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(246, 247, 248);
}

.stickyheader {
    top: 50px;
    width: 100%;
    z-index: 999;
    position: fixed;
    background: #FFF;
  }

.upperpartright {
    display: flex;
    width: 220px;
    padding: 0px 15px;
    align-items: center;
    justify-content: space-between;

}

.upperpartright button {
    font-weight: 0;
}

.uprightmid {
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.midbtn {
    gap: 5px;
    border: none;
    display: flex;
    background-color: rgb(246, 247, 248);
}

.uprightright {
    gap: 5px;
    border: none;
    display: flex;
    background-color: rgb(246, 247, 248);
}

.uprightleft {
    gap: 5px;
    border: none;
    height: 15px;
    display: flex;
    justify-content: center;
    background-color: rgb(246, 247, 248);
}

.upperpartleft {
    width: 880px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.upperpartleft button {
    width: 113px;
    height: 30px;
    padding: 7px 0;
    cursor: pointer;
    transition: 0.5s;
    font-weight: 700;
    margin: 0 15px 0 0;
    border-radius: 40px;
    color: rgb(27, 86, 193);
    background-color: rgb(246, 247, 248);
    border: 1.5px solid rgb(27, 86, 193);
}

.upperpartleft button:hover {
    color: #fff;
    background-color: rgb(27, 86, 193);
}

.upleftul {
    width: 750px;
    display: grid;
    align-items: center;
    grid-template-rows: 40px;
    grid-template-columns: 95px 173px 77px 120px 100px 170px;
}

.upleftul li {
    display: grid;
    list-style: none;
}

.upleftul li a {
    color: gray;
    font-size: 13px;
    text-decoration: none;
    justify-content: space-between;

}

.upleftul li a:hover {
    text-decoration: underline;
}

.upperleft {
    display: flex;
}

.abblogo {
    width: 111px;
    height: 50px;
}

.midpart {
    opacity: 1;
    width: 100%;
    height: 74px;
    display: flex;
    padding: 15px 40px;
    align-items: center;
    justify-content: space-between;
    border-bottom: .025rem solid rgb(135, 133, 133, 0.2);
}

.midpartleft ul {
    gap: 30px;
    display: flex;
    list-style-type: '  /  ';
}

.midpartleft {
    gap: 49px;
    display: flex;
    align-items: center;
}

.midpartleft a {
    color: black;
    font-weight: 500;
    text-decoration: none;
}

.ferdi {
    cursor: pointer;
    list-style: none;
}

.korporativ a,
.kob a {
    color: gray;
    cursor: pointer;
    transition: 0.5s;
}

.korporativ a:hover,
.kob a:hover {
    color: black;
}

.bsarrowrightcircle {
    gap: 10px;
    border: none;
    display: flex;
    font-size: 16px;
    background: none;
    font-weight: 600;
    align-items: center;
    color: rgb(33, 88, 204);
}

.lowerpart {
    opacity: 1;
    width: 100%;
    height: 75px;
    border-bottom: 1px solid rgb(136, 136, 136, 0.2);
}

.lowerpart ul {
    width: 880px;
    height: 100%;
    display: flex;
    font-size: 14px;
    padding: 0 40px;
    list-style: none;
    align-items: center;
    justify-content: space-between;
}

.lowerpart ul li {
    top: 0%;
    left: 0%;
    z-index: 999;
    height: 100%;
    display: flex;
    cursor: pointer;
    position: relative;
    align-items: center;
}

.lowerpart ul li::after {
    left: 0;
    width: 0%;
    bottom: 0%;
    content: "";
    height: 3px;
    transition: 0.5s;
    position: absolute;
    background-color: rgb(59, 138, 224);
}

.lowerpart ul li:hover::after {
    width: 100%;
}

.dropdownli {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.dropdownli:hover .dropdowndiv {
    display: flex;
}

.dropdownli:hover .dropdowndiv1 {
    display: flex;
}

.dropdownli:hover .dropdowndiv,
.dropdownli:hover .dropdowndiv1,
.dropdownli:hover .dropdowndiv2,
.dropdownli:hover .dropdowndiv3,
.dropdownli:hover .dropdowndiv4,
.dropdownli:hover .dropdowndiv5,
.dropdownli:hover .dropdowndiv60,
.dropdownli:hover .dropdowndiv6 {
    background-color: #FFF;
}

.dropdowndiv {
    z-index: 999;
    display: flex;
    display: none;
    height: 300px;
    width: 1518px;
    margin-top: 370px;
    position: absolute;
    margin-left: 1380px;
    padding: 40px 0px 40px 50px;
    justify-content: space-between;
}

.dropdowndiv:hover {
    cursor: default;
}

.dropdowndiv1 {
    z-index: 999;
    height: 300px;
    width: 1518px;
    display: flex;
    display: none;
    margin-top: 370px;
    position: absolute;
    margin-left: -103px;
    padding: 40px 0px 40px 50px;
    justify-content: space-between;
}

/* dropdown div second start */

.dropdowndiv2:hover {
    cursor: default;
}

.dropdowndiv2 {
    z-index: 999;
    width: 1518px;
    display: flex;
    height: 300px;
    display: none;
    margin-top: 370px;
    position: absolute;
    margin-left: 1080px;
    padding: 40px 0px 40px 50px;
    justify-content: space-between;
}

.dropdowndiv2:hover {
    cursor: default;
}

.dropdownli:hover .dropdowndiv2 {
    display: flex;
}

/* dropdown div second end */

/* dropdown div third start */

.dropdowndiv3:hover {
    cursor: default;
}

.dropdowndiv3 {
    z-index: 999;
    height: 300px;
    width: 1518px;
    display: flex;
    display: none;
    margin-top: 370px;
    position: absolute;
    margin-left: 1239px;
    padding: 40px 0px 40px 50px;
    justify-content: space-between;
}

.dropdowndiv3:hover {
    cursor: default;
}

.dropdownli:hover .dropdowndiv3 {
    display: flex;
}

/* dropdown div third end */


/* dropdown div fourth start */

.dropdowndiv4:hover {
    cursor: default;
}

.dropdowndiv4 {
    z-index: 999;
    width: 1518px;
    height: 300px;
    display: flex;
    display: none;
    margin-top: 370px;
    position: absolute;
    margin-left: 291px;
    padding: 40px 0px 40px 50px;
    justify-content: space-between;
}

.dropdowndiv4:hover {
    cursor: default;
}

.dropdownli:hover .dropdowndiv4 {
    display: flex;
}

/* dropdown div fourth end */



/* dropdown div fifth start */

.dropdowndiv5:hover {
    cursor: default;
}

.dropdowndiv5 {
    z-index: 999;
    display: flex;
    display: none;
    height: 300px;
    width: 1518px;
    margin-top: 370px;
    position: absolute;
    margin-left: 79px;
    padding: 40px 0px 40px 50px;
    justify-content: space-between;
}

.dropdowndiv5:hover {
    cursor: default;
}

.dropdownli:hover .dropdowndiv5 {
    display: flex;
}

/* dropdown div fifth end */
 

/* dropdown div sixth start */

.dropdowndiv6:hover {
    cursor: default;
}

.dropdowndiv6 {
    z-index: 999;
    width: 1518px;
    display: flex;
    display: none;
    height: 300px;
    margin-top: 370px;
    position: absolute;
    margin-left: 1045px;
    padding: 40px 0px 40px 50px;
    justify-content: space-between;
}

.dropdowndiv6:hover {
    cursor: default;
}

.dropdownli:hover .dropdowndiv6 {
    display: flex;
}


/* addedpart */

.dropdowndiv60:hover {
    cursor: default;
}

.dropdowndiv60 {
    z-index: 999;
    width: 1518px;
    display: flex;
    display: none;
    height: 300px;
    margin-top: 370px;
    position: absolute;
    margin-left: 624px;
    padding: 40px 0px 40px 50px;
    justify-content: space-between;
}

.dropdowndiv60:hover {
    cursor: default;
}

.dropdownli:hover .dropdowndiv60 {
    display: flex;
}

/* dropdown div sixth end */
 
.leftpartdd {
    height: 90px;
    width: 390px;
    display: flex;
    margin-left: 40px;
    justify-content: space-between;

}

.leftdddiv {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.rightdddiv {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.horizontalline {
    left: 41%;
    width: 0px;
    bottom: 40%;
    height: 220px;
    display: block;
    border: 1px solid rgba(156, 154, 154, 0.2);
}

.rightpartdd {
    display: flex;
}

.rightpartddtext {
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: auto 100px auto 50px;
    justify-content: space-around;
}

.firstlibtn {
    width: 150px;
    height: 50px;
    color: black;
    cursor: pointer;
    font-size: 16px;
    transition: 500ms;
    border-radius: 10px;
    background-color: #fff;
    border: 1px solid black;
}

.firstlibtn:hover {
    color: white;
    border: 1px solid #fff;
    background-color: black;
}

@media screen and (max-width: 1200px){
    .upperpartleft{
        display: grid;
        grid-template-columns: 50px ;
        grid-template-rows: 20px 30px ;
    }    

    .upperleft button{
        top: 5%;
        position: absolute;
    }
}

@media screen and (max-width: 1100px) {
    .upleftul{
        display: grid;
    }

    .sixthli{
        display: block;
    }
    
    .upleftul{
        width: 700px;
    }

    .upperleft button{
        top: 5%;
        position: absolute;
    }
}